# Firebase Configuration
FIREBASE_API_KEY=<your_firebase_api_key>
FIREBASE_AUTH_DOMAIN=<your_firebase_auth_domain>
FIREBASE_DATABASE_URL=<your_firebase_database_url>
FIREBASE_STORAGE_BUCKET=<your_firebase_storage_bucket>

#secret
secret=<your_secret>